/*-------------------------------------------*\
    Menu
\*-------------------------------------------*/

ul {
    &[role] {
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: default;
        user-select: none;
    }
    
    &[role="menubar"] {
        display: flex;
        padding: 1px 2px;
        font-size: 12px;
        border-bottom: 1px solid #D8D2BD;
        box-shadow: 0px 1px 2px white;
        [role="menuitem"] {
            >ul[role="menu"] {
                display: none;
            }
            &:active,
            &:target,
            &:focus,
            &:focus-within {
                >ul[role="menu"] {
                    position: absolute;
                    display: block;
                    color:#222;
                    transform: translate(-5px, 3px);
                }
            }
        }

        &.ribbon {
            height: 34px;
            align-items: center;
            [role="ribbonitem"]{
                height: 100%;
                button {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    background: transparent;
                    background-color: transparent;
                    border: 1px solid transparent;
                    min-width: unset;
                    width: fit-content;
                    padding: 0 6px;
                    gap: 6px;
                        &:hover,
                        &:focus,
                        &:focus-within {
                            background: linear-gradient(180deg, #ffffff00, #ecebe5 86%, #d8d0c4);
                            border: 1px solid #B6B3A1;
                            box-shadow: none;
                        }
                        &:has(>img){
                            gap:6px;
                        }
                        &[disabled] {
                        &:hover,
                        &:focus,
                        &:focus-within {
                            background: none;
                            border: 1px solid transparent;
                            box-shadow: none;
                        }
                        >img {
                            filter: grayscale(1)
                        } 
                        }
                    }

                }
            }
        }

    [role="menuitem"] {
        position: relative;
        padding: 3px 5px;
        &:active,
        &:focus, 
        &:focus-within,
        &:hover {
            background-color: #316AC5;
            color: white;
        }
    }

    &[role="menu"] {
        box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 3px -2px;
        border: 1px solid #A7A394;
        background-color: #F8F9FA;
        padding: 3px;
        position: relative;
        > [role="menuitem"] {
            padding-left: 23px;
            padding-right: 20px;
            &.bold {
                font-weight: 700;
            }

            &[aria-disabled="true"] {
                color: #A7A395
            }

            &.has-divider{
                margin-bottom: 7px;
                &::after {
                    content: "";
                    height: 1px;
                    background-color: #9D9B90;
                    width:calc(100% + 43px);
                    position: relative;
                    bottom: -7px;
                    display: block;
                    left: -23px;
                }
            }

            &:has(span) {
                span {
                    float: right;
                }
            }

            &[aria-haspopup="true"]{
                >[role="menu"] {
                    display: none;
                    color: #222;
                }
                &:hover > [role="menu"] {
                    display: block;
                    position: absolute;
                    left: calc(100% - 3px);
                    transform: translateY(-20px)
                }
                &::after {
                    border: 4px solid transparent;
                    border-left-color: currentcolor;
                    content: "";
                    position: absolute;
                    right: 2px;
                    transform: translate(-2px, 2px);
                }
            } 

            img {
                left: 2px;
                pointer-events: none;
                position: absolute;
                transform: translateX(6px);
            }

            input[type="checkbox"] {
                display: none;
                visibility:hidden;
                +label {
                    display: inline-block;
                    width: calc(100% + 20px);
                    font-size: 12px;
                    margin-left: 0px;
                    font-family: Arial;
                    &::before {
                        display: none;
                    }
                    &::after {
                        background: svg-load("./icon/checkmark-menu.svg");
                    }
                }
            }

            input[type="radio"] {
                +label {
                    display: inline-block;
                    width: calc(100% + 20px);
                    margin-left: 0;
                    font-size: 12px;
                    font-family: Arial;
                    &::before {
                        display: none;
                    }
                    &::after {
                        background: svg-load("./icon/radio-dot-black.svg")
                    }
                }
                
            }
            &:focus input,
            &:focus-within input,
            &:hover input {
                &[type="checkbox"]+label::after {
                    background: svg-load("./icon/checkmark-menu-highlighted.svg");
                }

                &[type="radio"]+label::after {
                    background: svg-load("./icon/radio-dot-white.svg");
                }
            }
        }
    }
}

.has-inactive-windows .window:not(.active) {
    ul {        
        &[role="menubar"] {
            color: #A8A597;
        }
        [role="menuitem"] {
            &:focus, 
            &:focus-within,
            &:hover {
                background-color: #3169C1;
                color: #A8A596;
            }
        }
    }
}

