/*-------------------------------------------*\
    Menu
\*-------------------------------------------*/

ul {
    &[role] {
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: default;
        user-select: none;
    }
    
    &[role="menubar"] {
        display: flex;
        padding: 1px 2px;
        font-size: 12px;
        border-bottom: 1px solid #D8D2BD;
        box-shadow: 0px 1px 2px white;
    }

    [role="menuitem"] {
        padding: 3px 5px;
        &:focus, 
        &:focus-within,
        &:hover {
            background-color: #316AC5;
            color: white;
        }
    }

    &[role="menu"] {
        box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 3px -2px;
        border: 1px solid #A7A394;
        background-color: #F8F9FA;
        padding: 3px;
        position: relative;
        > [role="menuitem"] {
            padding-left: 23px;
            padding-right: 20px;
            &.bold {
                font-weight: 700;
            }

            &[aria-disabled="true"] {
                color: #A7A395
            }

            &.has-divider{
                margin-bottom: 7px;
                &::after {
                    content: "";
                    height: 1px;
                    background-color: #9D9B90;
                    width:calc(100% + 43px);
                    position: relative;
                    bottom: -7px;
                    display: block;
                    left: -23px;
                }
            }

            &:has(span) {
                span {
                    float: right;
                }
            }

            &[aria-haspopup="true"]{
                >[role="menu"] {
                    display: none;
                    color: #222;
                }
                &:hover > [role="menu"] {
                    display: block;
                    position: absolute;
                    left: calc(100% - 3px);
                    transform: translateY(-20px)
                }
                &::after {
                    border: 4px solid transparent;
                    border-left-color: currentcolor;
                    content: "";
                    position: absolute;
                    right: 2px;
                    transform: translate(-2px, 2px);
                }
            } 

            img {
                left: 2px;
                pointer-events: none;
                position: absolute;
                transform: translateX(6px);
            }
        }
    }
}

.has-inactive-windows .window:not(.active) {
    ul {        
        &[role="menubar"] {
            color: #A8A597;
        }
        [role="menuitem"] {
            &:focus, 
            &:focus-within,
            &:hover {
                background-color: #3169C1;
                color: #A8A596;
            }
        }
    }
}

