/*-------------------------------------------*\
    Taskbar
\*-------------------------------------------*/

@use 'sass:color';

.taskbar {
    height: 28px;
    background-color: #245EDC;
    background: linear-gradient(to bottom, #245EDC 0%, #3f8cf3 9%, #245EDC 18%, #245EDC 92%, #1941A5 100%) center / cover no-repeat;
    display: flex;
    align-items: center;
    color: white;
    user-select: none;
    overflow: hidden;

    .start-button{
        flex: 0 0 95px;
        box-sizing: border-box;
        height: 28px;
        position:relative;
        display:inline-block;
        font-style:italic;
        text-shadow:1px 1px 1px #333;
        border-radius:0px 10px 15px 0px;
        border:none;
        transform:skewX(-3deg);
        left: -5px;
        

        background-color: #459246 ;
        box-shadow: 5px 6px 5px 0px rgba(146,191,147,1) inset, 1px 4px 1px 1px #39793A inset, 0px 10px 5px 1px #39793a inset, 8px 0px 5px 1px #39793a inset, -8px 0px 5px 1px #39793a inset;

        label {
            font-size:17px;
            padding: 2px 15px 2px 15px;
            font-weight: 500;
            filter: drop-shadow( 1px 2px 1px rgba(0, 0, 0, .7));
        }
    }
    .running-applications {
        display: flex;
        flex: 1;
        gap: 1px;
        padding-right: 10px;
        width: 100%;
        overflow: hidden;
        .app-button{
            box-sizing: border-box;
            flex: 0 1 157px;
            min-width: 0;
            display: flex;
            align-items: center;
            height: 22px;
            background: #478DF1;
            background: linear-gradient(180deg, rgba(71, 141, 241, 1) 0%, rgba(69, 135, 240, 1) 4%, rgba(63, 129, 238, 1) 8%, rgba(56, 122, 238, 1) 16%, rgba(55, 124, 240, 1) 61%, rgba(53, 119, 234, 1) 94%) ;
            color: white;
            border-radius: 3px;
            gap: 5px;
            padding: 0 7px;
            box-shadow: 0px 4px 5px -5px rgba(255,255,255,0.7) inset, -4px -4px 5px -5px rgba(44,96,208,0.7) inset;
            border: 1px solid rgba(44,96,208,0.7);
            overflow: hidden;
            span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;            
            }
            &.active {
                background: #194AA8;
                box-shadow: 4px 6px 5px -5px rgba(0,0,0,0.7) inset;
            }
        }
    }
    .notification-tray {
        width: fit-content;

        height: 28px;
        background-color: #1189DC;
        background: linear-gradient(to bottom, #15A8E9 0%, #18AFE6 9%, #1189DC 18%, #128AD4 92%, #0C55B8 100%) center / cover no-repeat;

        display: grid;
        flex: 0 0 85px;
        grid-template-columns: 8px 77px;
        grid-template-rows: 28px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        transition: grid-template-columns 300ms ease-in-out;
        &:has(>[aria-label="notif-expand"] input:checked) {
            grid-template-columns: 8px 100px; 

        }
        .clock {
        }
        [aria-label="notif-expand"] {
            width: 17px;
            height: 17px;
            border-radius: 100%;
            border: 1px solid #0C2A4E;

            grid-area: 1 / 2 / 2 / 3; 
            position: relative;
            z-index: 3;
            transform: translate(-9px, 4px);
            background: #87CAEB;
            background: linear-gradient(175deg,rgba(135, 202, 235, 1) 0%, rgba(15, 148, 228, 1) 47%, rgba(6, 108, 222, 1) 83%);
            &::after {
                content: ' ';
                width: 17px;
                height: 17px;
                background-image: svg-load("./icon/caret-left.svg");
                background-position: 1px center;
            }
            &:has(input:checked)::after {
                transform: scaleX(-1);
            }
            &:hover {
                background: linear-gradient(175deg, #B4D8EB 0%, #3497D2 47%, #0E90DB 83%);

                
            }
        }
        .external {
            grid-area: 1 / 1 / 2 / 2;
            background-color: #245EDC;
            background: linear-gradient(to bottom, #245EDC 0%, #3f8cf3 9%, #245EDC 18%, #245EDC 92%, #1941A5 100%) center / cover no-repeat;
        }
        .internal {
            height: 100%;
            grid-area: 1 / 2 / 2 / 3;
            border-left: 1px solid #0C2A4E;
            box-shadow: 1px -1px 3px 0px #1BC2F0 inset;
            padding-right: 10px;
            padding-left: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            overflow: hidden;
            white-space: nowrap;
        }
        .icon-container {
            
        }
    }
}